/*<meta />*/

/* Prevents Safari in landscape orientation from zooming in on text*/

.micro-response
{
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 16px;
}

/* Default css class for hiding element*/

.micro-response .hidden
{
	display: none;
}

.micro-response a.glossaryTerm
{
	text-decoration: none;
}

/**/

.micro-response #ios-wrapper
{
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.micro-response .img_off
{
	display: none;
}

/* Feedback/Pulse */

.micro-response .pulse-required,
.micro-response .feedback-required,
.micro-response .feedback-topic-required
{
	display: none;
}

.micro-response .pulse-active .pulse-required,
.micro-response .feedback-active .feedback-required,
.micro-response .feedback-active.has-topic .feedback-topic-required
{
	display: block;
}

/* Login Dialog */

.micro-response .login-dialog
{
	display: none;
	z-index: 10001;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -175px;
	width: 350px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 10px #333333;
	-moz-box-shadow: 0 4px 10px #333333;
	box-shadow: 0 4px 10px #333333;
}

.micro-response .login-dialog.pulse
{
	position: fixed;
	width: 408px;
	height: 428px;
	margin-left: -204px;
	margin-top: -214px;
}

.micro-response #pulse-login-frame
{
	width: 100%;
	height: 100%;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 10px #333333;
	-moz-box-shadow: 0 4px 10px #333333;
	box-shadow: 0 4px 10px #333333;
}

.micro-response .login-dialog-header
{
	color: #FFF;
	font-size: 13px;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	padding-left: 50px;
	border-bottom: solid 1px #2B2B2B;
	background: #5A5A5A url("Images/login-dialog-icon.png") no-repeat 18px center;
	/* Old browsers */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -moz-linear-gradient(top, #5A5A5A 0%, #4A4A4A 100%);
	/* FF3.6+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5A5A5A), color-stop(100%,#4A4A4A));
	/* Chrome,Safari4+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -webkit-linear-gradient(top, #5A5A5A 0%,#4A4A4A 100%);
	/* Chrome10+,Safari5.1+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -o-linear-gradient(top, #5A5A5A 0%,#4A4A4A 100%);
	/* Opera11.10+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -ms-linear-gradient(top, #5A5A5A 0%,#4A4A4A 100%);
	/* IE10+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, linear-gradient(top, #5A5A5A 0%,#4A4A4A 100%);
	/* W3C */
	-pie-background: url("Skins/Default/Stylesheets/Images/login-dialog-icon.png") no-repeat 18px center, linear-gradient(#5A5A5A, #4A4A4A);
	/*PIE*/
	background-repeat: no-repeat;
	background-position: 18px center;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.micro-response .login-dialog-content
{
	border-top: solid 1px #767676;
	background: #5A5A5A;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	padding: 17px;
}

.micro-response .login-dialog-content .profile-item-wrapper
{
	color: #CECECE;
	margin-bottom: 10px;
	height: 32px;
	line-height: 32px;
}

.micro-response .login-dialog-content .profile-item-wrapper .label-wrapper
{
	margin-bottom: 5px;
	float: left;
}

.micro-response .login-dialog-content .profile-item-wrapper .input-wrapper
{
	float: right;
}

.micro-response .login-dialog-content .profile-item-wrapper input[type=text]
{
	margin: 0;
	padding: 5px;
	border: solid 1px #191919;
	background: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px #888;
	-moz-box-shadow: 0 1px #888;
	box-shadow: 0 1px #888;
	outline: none;
}

.micro-response .login-dialog-content .profile-item-wrapper.email-notifications-wrapper
{
	margin-top: 15px;
	height: auto;
	line-height: normal;
}

.micro-response .login-dialog-content .profile-item-wrapper.email-notifications-wrapper .label-wrapper
{
	float: none;
}

.micro-response .login-dialog-content .profile-item-wrapper.email-notifications-wrapper .email-notifications-group
{
	margin-right: 0;
	padding: 12px;
	background-color: #4A4A4A;
	background-repeat: no-repeat;
	background-position: center center;
	border: solid 1px #2B2B2B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px #888;
	-moz-box-shadow: 0 1px #888;
	box-shadow: 0 1px #888;
}

.micro-response .login-dialog-content .profile-item-wrapper.error input,
.micro-response .login-dialog-content .profile-item-wrapper.error select
{
	border: solid 1px #F00;
	background-color: #FEE7E7;
}

.micro-response .login-dialog-buttons
{
	text-align: right;
}

.micro-response .login-dialog button
{
	color: #FFF;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 0;
	padding: 8px 26px;
	border: solid 1px #2B2B2B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #595959;
	/* Old browsers */
	background: -moz-linear-gradient(top, #595959 0%, #4A4A4A 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595959), color-stop(100%,#4A4A4A));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #595959 0%,#4A4A4A 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #595959 0%,#4A4A4A 100%);
	/* Opera11.10+ */
	background: -ms-linear-gradient(top, #595959 0%,#4A4A4A 100%);
	/* IE10+ */
	background: linear-gradient(top, #595959 0%,#4A4A4A 100%);
	/* W3C */
	-pie-background: linear-gradient(#595959, #4A4A4A);
	/*PIE*/
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.micro-response .login-dialog button.close-dialog
{
	position: absolute;
	top: 8px;
	right: 8px;
	background: none;
	background-image: url('Images/close.png');
	height: 16px;
	width: 16px;
	margin: 0;
	padding: 0;
	border: 0;
}

.micro-response .login-dialog .status-message-box
{
	display: none;
	color: #0F0;
	text-align: center;
	margin-top: 16px;
	padding: 12px;
	background-color: #DCFEDC;
	border: solid 1px #0F0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.micro-response .login-dialog .status-message-box.error
{
	color: #F00;
	border: solid 1px #F00;
	background-color: #FEE7E7;
}

.micro-response .login-dialog .status-message-box .message
{
	display: none;
}

.micro-response .backlink-container
{
	position: absolute;
	bottom: 11px;
	right: 20px;
}

.micro-response .backlink-container-topnav
{
	bottom: 4px;
	right: 4px;
}

.micro-response .backlink-container-sidenav
{
	bottom: 20px;
	right: 20px;
}

.micro-response #mc-backlink
{
	text-decoration: none;
	color: #7d858a;
	font-size: 15px;
	font-family: Arial;
	font-weight: normal;
}

.micro-response #mc-backlink > sup
{
	font-size: 12px;
}

.micro-response .height-container
{
	/* just to contain top margin of element inside */
	padding-top: 0.1px;
	position: relative;
	box-sizing: border-box;
}

.micro-response .height-container-no-footer
{
	padding-bottom: 30px;
}

.micro-response .height-container-sidenav
{
	padding-bottom: 40px;
}

/* to contain floating elements in the div */

.micro-response .height-container:after
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.micro-response div.MCBreadcrumbsBox_0
{
	font-weight: bold;
	color: #646464;
	font-size: 9pt;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.micro-response table.AutoNumber_div_numlist1-1st
{
	margin-left: 18px;
	padding-left: 4px;
}

.micro-response td.AutoNumber_div_numlist1-1st
{
	font-family: arial;
	line-height: 13pt;
}

.micro-response table.AutoNumber_div_numlist2-1st
{
	margin-left: 1.5em;
	padding-left: 22px;
}

.micro-response .dropDownHotspot
{
	text-decoration: none;
}

.micro-response .dropDownHotspot:link
{
	text-decoration: none;
}

.micro-response .MCDropDown_Open .MCDropDownHotSpot_.MCHotSpotImage
{
	background-position: left;
	background-image: url('DropDownOpen.gif');
	padding-left: 1px;
	padding-right: 0;
}

.micro-response .MCDropDown_Closed .MCDropDownHotSpot_.MCHotSpotImage
{
	background-position: left;
	background-image: url('DropDownClosed.gif');
	padding-left: 0px;
	padding-right: 0;
}

.micro-response .dropDownHead
{
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

.micro-response div.MCTocProxy_0
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: black;
	padding-top: 10px;
	margin-top: 10px;
	padding-left: 20px;
}

.micro-response table.GenTOCTable1
{
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	color: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	margin-top: 12px;
	margin-bottom: 6px;
}

.micro-response td.GenTOCText1
{
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	mc-leader-format: '.';
	mc-leader-indent: 5pt;
	color: #000000;
	font-size: 12pt;
	font-family: arial;
	font-weight: normal;
	letter-spacing: 0em;
	text-decoration: none;
	text-align: left;
}

.micro-response a.GenTOCText1:link
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	mc-leader-format: '.';
	mc-leader-indent: 5pt;
	color: #000000;
	font-size: 12pt;
	font-family: arial;
	font-weight: normal;
	letter-spacing: 0em;
	text-decoration: none;
	text-align: left;
}

.micro-response a.GenTOCText1
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	mc-leader-format: '.';
	mc-leader-indent: 5pt;
	color: #000000;
	font-size: 12pt;
	font-family: arial;
	font-weight: normal;
	letter-spacing: 0em;
	text-decoration: none;
	text-align: left;
}

.micro-response td.GenTOCAutoText1
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-align: inherit;
	margin: 0;
	color: #000000;
	font-size: 12pt;
	font-family: arial;
	font-weight: normal;
	letter-spacing: 0em;
	text-decoration: none;
}

.micro-response td.GenTOCPageText1
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	margin: 0;
	vertical-align: bottom;
	color: #000000;
	font-size: 12pt;
	font-family: arial;
	font-weight: normal;
	letter-spacing: 0em;
	text-decoration: none;
	text-align: right;
	white-space: normal;
}

.micro-response td.mcReset
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	color: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
}

.micro-response MadCap|xref.TOCPageNumber_0
{
	color: inherit;
	text-decoration: inherit;
	font-weight: inherit;
	font-family: inherit;
	font-size: inherit;
}

.micro-response .MCWebHelpFramesetLink a
{
	color: #0000ee;
	font-family: Verdana;
}

.micro-response .MCWebHelpFramesetLink.MCWebHelpFramesetLinkTop a
{
	color: #559e46;
}

.micro-response .MCWebHelpFramesetLink.MCWebHelpFramesetLinkBottom a
{
	color: #559e46;
}

