/* This makes it so that widths and heights will be defined to include padding and borders
         * So if you say 100% and then add border of 1px then it will not go beyond the 100% to add
         * the border, etc
         */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

/*=============================================================================*/
/* Styles for top level panels, popups and indicators*/

#workarea {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 52px;
}

#configPanel {
    width: 440px;
    height: 400px;
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    margin-left: -220px;
    margin-top: -250px;
    z-index: 9900;
}

#apiInfoPanel {
    position: absolute;
    right: 0;
    width: 275px;
    top: 52px; /* Sync with the workarea panel*/
    bottom: 0px; /* Sync with the workarea panel*/
    overflow-y: auto;

    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

    border-top: 3px solid darkblue;

    margin: 5px;
}

/*=============================================================================*/
/* Styles for the indicator*/
#workingIndicator {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 130px;
    margin-top: -70px;
    width: 100px;
    margin-left: -50px;
    z-index: 100;
    background: url("../images/chemdraw.png") no-repeat;
}

#navbar {
    z-index: 900;
}

#workingIndicatorText {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-weight: bold;
    text-align: center;
}

/*=============================================================================*/
/* Styles for the document containers and the control buttons */
.document {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.activeDocument {
    border-top: 3px solid rgba(73, 137, 18, 1);
}

.docMoveHandle {
    cursor: move;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 22px;
    color: gray;
    margin-top: -30px;
    display: none;
}

.docStateHandle {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -25px;
    font-size: 18px;
    display: none;
    cursor: pointer;
    background-color: #fff;
}

.docEditHandle {
    position: absolute;
    right: 0;
    top: 25px;
    margin-right: -25px;
    font-size: 18px;
    display: block;
    cursor: pointer;
    background-color: #fff;
}

.docConfigHandle {
    position: absolute;
    right: 0;
    top: 50px;
    margin-right: -25px;
    font-size: 18px;
    display: block;
    cursor: pointer;
    background-color: #fff;
}

.docTrashHandle {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: -25px;
    color: rgba(142, 0, 0, 0.5);
    font-size: 18px;
    display: block;
    background-color: #fff;
}

.docResizeHandle {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 20px;
    height: 20px;
    cursor: nwse-resize;
    background: url("../images/resize-corner.png") no-repeat;
    display: none;
}

.ui-icon {
    width: 20px;
    height: 20px;
    background: url("../images/resize-corner.png") no-repeat;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    z-index: 99999;
    display: block;
}

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
    display: none;
}

.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0px;
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0px;
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0px;
    height: 100%;
}

.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0px;
    height: 100%;
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}

.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}

.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px;
}

/*=============================================================================*/
/* Styles for customizing ChemDraw Direct */
.list-group-item > .toggle-status {
    float: right;
}

.toggle-status {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}

.toggle-status-on {
    background: green;
}

.toggle-status-off {
    background: gray;
}

/*=============================================================================*/

/* Styles for API output */

.api-result-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.api-result-image img {
    max-width: 100%;
    max-height: 200px;
    height:auto;
}

.api-result-image svg {
    max-width: 100%;
    max-height: 200px;
    background: #FFF;
}