/* 09Dec03                    EMBOSS.css                     Damian Counsell */
/*                                                                           */
/* stylesheet for Damian Counsell's rewrite of the EMBOSS Webpages           */
/*                                                                           */
/* I use the Webstandards Project's division of stylesheet function          */
/*                                                                           */
/* last modified 11Jun04                                                     */


/* INHERIT BASE STYLESHEET SETTINGS                                          */


/* BACKGROUNDS, BORDERS, COLOURS, LINKS AND EMPHASES                         */

a:link
  { 
    color: #0000ff;
    text-decoration: none;
  }
a:hover
  { 
    color: #ffffff;
    background-color: #0000ff;
    layer-background-color: #0000ff;
    text-decoration: none;
  }
a:visited
  { 
    color: #660099;
    text-decoration: none;
  }
a:visited:hover
  { 
    color: #ffffff;
    background-color: #660099;
    layer-background-color: #660099;
    text-decoration: none;
  }
body, blockquote, lip, ol, strong, ul
  {
    color: #000000;
    background-color: #ffffff; 
    layer-background-color: #ffffff;
  }
strong
  {
    font-weight: bold;
  }

#container
  {
  }
#header
  {
    color: #000000;
    background-color: #ffffff; 
    layer-background-color: #ffffff;
  }
#header .slogan
  {
    color: #ffffff;
  }
#thanks
  {
    color: #666666;
    background-color: #ffffff; 
    layer-background-color: #ffffff;
  }
  }
#title
  {
    color: #000000;
    background-color: #ffffff; 
    layer-background-color: #ffffff;
  }

.abstract
  {
    font-weight: bold;
  }
.announcement
  {
    color: #000000;
    background-color: #ffffff;
    layer-background-color: #ffffff;
  }
.barbull
  {
    color: #cc6666;
    background-color: #ffffff;
    layer-background-color: #ffffff;
    font-weight: bold;
  }
.bare
  {
    border-width: 0px;
  }
.boxed
  {
    border-width: 5px;
    border-style: solid;
    border-color: black;
  }
.edged
  {
    border-width: 2px;
    border-style: solid;
    border-color: black;
  }
.important
  {
     color: #cc6666;
     background-color: #ffffff; 
     layer-background-color: #ffffff;
  }
.inpagelink
  {
    text-decoration: none;
  }
.navbar
  {
     color: #000066;
     background-color: #ffffff;
     layer-background-color: #ffffff;
     font-weight: bold;
  }
.navbar a:link
  { 
     color: #0000ff;
     text-decoration: none;
  }
.navbar a:hover
  { 
     color: #ffffff;
     background-color: #0000ff;
     layer-background-color: #0000ff;
     text-decoration: none;
  }
.navbar a:visited
  { 
     color: #660099;
     text-decoration: none;
  }
.navbar a:visited:hover
  { 
     color: #ffffff;
     background-color: #660099;
     layer-background-color: #660099;
     text-decoration: none;
  }
.navbox
  {
     color: #000066;
     background-color: #ffffff;
     layer-background-color: #ffffff;
     font-weight: bold;
  }
.navbox a:link
  { 
     color: #0000ff;
     text-decoration: none;
  }
.navbox a:hover
  { 
     color: #ffffff;
     background-color: #0000ff;
     layer-background-color: #0000ff;
     text-decoration: none;
  }
.navbox a:visited
  { 
     color: #660099;
     text-decoration: none;
  }
.navbox a:visited:hover
  { 
     color: #ffffff;
     background-color: #660099;
     layer-background-color: #660099;
     text-decoration: none;
  }
.panel
  {
     color: #333333;
     background-color: #ffffff; 
     layer-background-color: #ffffff;
  }
.linkbar
  {
     color: #000066;
     background-color: #ffffff;
     layer-background-color: #ffffff;
     border-color: #556699;
  }
.subtitle, #title
  {
     font-weight: bold;
  }
.textblock
  {
     color: #666666;
     background-color: #ffffff; 
     layer-background-color: #ffffff;
  }
.volume
  {
    font-weight: bold;
  }

/* INHERENT TEXT PROPERTIES (INDEPENDENT OF LAYOUT)                          */

h1, h2, h3, h4, #title, .abstract
  {
    font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
  }
h1
  {
    font-size: 130%;
  }
h2
  {
    font-size: 110%;
  }
h3, .abstract
  {
    font-size: 105%;
  }
h4 
  {
    font-size: 100%;
  }
a, body, strong
  {
  }
blockquote
  {
    font-size: 90%;
  }
blockquote, li, ol, ul, p
  {
    font-family: Georgia, Times, Verdana, Tahoma, Helvetica, Arial, sans-serif;
  }

#container
  {
  }
#header
  {
    font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
  }
.slogan, #thanks
  {
    font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
    font-size: 12px;
  }
#title
  {
    font-size: 150%;
  }

.abstract, .announcement
  {
    font-family: Georgia, Times, Verdana, Tahoma, Helvetica, Arial, sans-serif;
  }
.barbull, .navbar, .navbox
  {
    font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
  }
.subtitle
  {
    font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
  }
.title
  {
    font-size: 150%;
  }
.linkbar
  {
    font-size: 90%;
    font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
  }
.bare, .boxed, .edged, .important, .inpagelink, .panel, .textblock, .volume
  { 
  }


/* LAYOUT                                                                    */

body
  {
    /* first half of hack to fix heinous IE5 / IE5.5 layout bug              */
    text-align: center;
  }
#container
  {
    /* second half of hack to fix heinous IE5 / IE5.5 layout bug             */
    text-align: left;
  }
h1
  {
    text-align: left;
  }
h2
  {
    text-align: left;
  }
body
  {
    margin: 0;
    padding: 0;
  }

#container
  {
    position: absolute;
    width: 90%;
    top: 0px;
    right: 5%;
    left: 5%;
    bottom: 0px;
    margin: 0px;
    paddding: 0px
  }
#header
  {
    position: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
#header .slogan
  {
    text-align: right;
    margin: 0px;
    padding: 0px;
  }
#thanks
{ 
    position: relative;
    text-align: right;
    padding: 10px;
    z-index: 1;
 }
#leftbox
  {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 190px;
    margin: 0px;
    padding: 0px;
  }
#rightbox
  {
    margin: 10px 10px 10px 210px;
    padding: 10px;
  }
.subtitle, #title
  {
     text-align: center;
  }

.bulk
  {
    position: center;
    width: 100%;
  }
.centred
  {
    text-align: center;
  }
.infoblock
  {
    margin-left: 3em;
  }
.lefted
  {
    text-align: left;
  }
.linkbar
  {
    padding: 0px, 5px, 10px, 5px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 5px;
    border-width: 0px;
    border-style: solid;
  }
.navbar
  {
    position: relative;
    width: 100%;
    margin: 0px, 0px, 10px, 0px;
    padding: 0px;
    text-align: center;
  }
.navbox
  {
    text-align: left;
    margin: 0px, 0px, 10px, 0px;
    padding: 0px;
  }
.panel
  {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }
.textblock
{ 
    position: relative;
    text-align: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 5%;
    padding: 0px;
    z-index: 1;
 }
.relativecentre
  {
    position: relative;
    text-align: center;
  }
.relativeleft
  {
    position: relative;
    text-align: left;
  }
.relativeright
  {
    position: relative;
    text-align: right;
  }
.righted
  {
    text-align: right;
  }
.title
  {
    text-align: center;
  }
.volume
  {
  }

.rightbox
  {
  }


/* BOX PROPERTIES (NOT BORDERS)                                              */

